table{
    text-align: center;
    margin: 50px 50px;
}

table td{
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    font-size: 80px;
}

table td.win{
    color: red;
}

#result div{
    margin-left: 20px;
    font-size: 30px;
}